<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Page</title>
  <!--Made with love by Mutiullah Samim -->
  
  <link href="../../../public/assets/bootstrap-4.4.1/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="../../../public/css/auth/main.css">
  <link rel="stylesheet" href="../../../public/css/auth/signin.css">
  <link rel="stylesheet" href="../../../public/css/custom-widgets/checkbox-radio.css">  
  <link rel="stylesheet" href="../../../public/assets/icons/font-awesome-5.12.0/fontawesome.min.css">
  
</head>

<body>
  <form class="auth-form">
    <h1 class="h3 mb-3 font-weight-normal text-center">Log in</h1>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
      <label class="custom-control-label" id="remember_checkbox_label" for="customCheck">Remember me</label>
    </div>
    <div class="form-group auth-form-extra-actions">
      <div class="auth-form-extra-actions-container" style="display: inline;">
        <a href="" style="font-size: 0.9em">Create an account</a> |
        <a href="" style="font-size: 0.9em">Forgot your password?</a>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-center">&copy; 2017-2019</p>
  </form>
  <script src="../../../public/assets/bootstrap-4.4.1/js/jquery-3.4.1.slim.min.js"></script>
  <script src="../../../public/assets/bootstrap-4.4.1/js/bootstrap.min.js"></script>
</body>
</html>