<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="../../public/assets/bootstrap-4.4.1/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="../../public/css/app.css">
</head>
<body>
  <div class="bg-dark text-white" id="page_header">
    <div id="page_header_logo_container">
      <h6 class="text-center">sddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</h6>
    </div>
  </div>
  <div id="page_container">
    <div class="text-white" id="page_sidebar">
      <div class="sidebar-item bg-dark">
        <a href="">Menu 1</a>
        <!-- <small class="text-center text-white-50"></small> -->
      </div>
    </div>
    <div class="page-content"></div>
  </div>
  <div id="page_footer" class="bg-dark text-white">
    <div id="page_footer_logo_container">
      <small class="text-center text-white-50">sddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</small>
    </div>
  </div>
</body>
</html>