@charset "UTF-8";
body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
}
body .footer {
  max-height: 29px;
  min-height: 29px;
}

.feather {
  fill: white;
  width: 14px;
  height: 14x;
  vertical-align: text-bottom;
}

/*
 * Navbar
 */
#top_navbar {
  max-height: 40px;
}
#top_navbar a #top_navbar_logo {
  max-width: 147px;
  max-height: 40px;
}
#top_navbar .navbar-brand {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  #top_navbar #collapsible_navbar_container {
    background-color: #1e2c3a;
  }
}
#top_navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

/*
 * Sidebar
 */
.sidebar {
  background-color: #1e2c3a !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 40px 0 0;
  /* Height of navbar */
}
.sidebar .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}
.sidebar .sidebar-sticky .nav .nav-item:hover {
  background-color: #343a40;
}
.sidebar .sidebar-sticky .nav .nav-item .nav-link {
  font-weight: 525;
  color: white;
  text-transform: initial;
  font-size: 0.88rem;
}
.sidebar .sidebar-sticky .nav .nav-item .nav-link .feather {
  margin-right: 4px;
  color: white;
}
.sidebar .sidebar-sticky .nav .nav-item .nav-link:hover .feather, .sidebar .sidebar-sticky .nav .nav-item a:hover {
  color: #1ABB9C;
}
.sidebar .sidebar-sticky .nav .nav-item:not(.active) {
  border-left: 4px solid transparent;
}
.sidebar .sidebar-sticky .nav .nav-item > a.nav-link {
  padding-left: 0.3rem;
}
.sidebar .sidebar-sticky .nav .nav-item.active {
  background-color: #343a40;
  border-left: solid 4px #1ABB9C;
}
.sidebar .sidebar-sticky .nav .nav-item.active > a.nav-link {
  color: #1ABB9C;
}
.sidebar .sidebar-sticky .nav .nav-item.active > a.nav-link > .feather {
  color: #1ABB9C;
}
@supports (position: -webkit-sticky) or (position: sticky) {
  .sidebar .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Content
 */
[role=main] {
  margin-top: 40px;
  /* Space for fixed navbar */
}
[role=main] #breadcrumb_nav {
  z-index: 999;
  max-height: 35px;
}
[role=main] #breadcrumb_nav .breadcrumb {
  background-color: #f8f9fa;
  padding: 0;
  border-radius: 0;
}
[role=main] #breadcrumb_nav .breadcrumb .breadcrumb-item {
  display: flex;
}
[role=main] #breadcrumb_nav .breadcrumb .breadcrumb-item + ::before {
  padding: 0;
  margin: 0 15px;
  content: "•";
  line-height: 35px;
}
[role=main] #breadcrumb_nav .breadcrumb .breadcrumb-item a, [role=main] #breadcrumb_nav .breadcrumb .breadcrumb-item span {
  color: #1ABB9C;
  max-width: 150px;
  line-height: 35px;
  text-decoration: none;
}
[role=main] #page_content {
  margin-bottom: 39px;
  margin-top: 45px;
}
[role=main] #page_content table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before, [role=main] #page_content table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
  top: 6px;
}

/* @media (min-width: 768px) {
  [role="main"] {
    padding-top: 45px; /* Space for fixed navbar 
  }
} */
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/*# sourceMappingURL=app.css.map */
