html,
body {
  height: 100%;
  font-size: 100%;
  font-family: Roboto, sans-serif;
}

body {
/*   background: url("../../images/auth/login_background.jpg") no-repeat;
  background-position: center;
  background-size: cover; */
  background: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.875rem;
}

#auth_logo {
  width: 25%;
}
@media screen and (max-width: 540px) {
  #auth_logo {
    width: 75%;
    /* display: none !important; */
  }
}
@media screen and (max-width: 768px) {
  #auth_logo {
    width: 50%;
    /* display: none !important; */
  }
}

/* @media screen and (max-height: 612px){
  #auth_logo {
    display: none !important;
  }
} */

.auth-form {
  width: 98%;
  max-width: 380px;
  padding: 15px;
  margin: auto;
  background-color: rgba(226, 226, 226, 0.596);
  border-radius: 0.3rem;
}

#remember_checkbox_label {
  line-height: 1.600rem;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

/*.auth-form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}*/
.auth-form .form-control:focus {
  z-index: 2;
}

/*Register and forgotten password*/
.auth-form-extra-actions {
  text-align: center;
}

.auth-form-extra-actions-container {
  font-size: 0.9em;
}

@media screen and (max-width: 320px) {
  #create_account_link { display: block; margin-bottom: 5px; }
  #forgotten_password_link { display: block; }
  #auth_form_extra_actions_delimiter { display: none; }
}

.auth-form-extra-actions a {
  text-decoration: none;
}