html{
  height: 100%;
}
body {
  /*   background: url("../../images/auth/login_background.jpg") no-repeat;
    background-position: center;
    background-size: cover; */
  height: 100%;
  font-size: 100%;
  //font-size: 0.875rem;
  font-family: Roboto, sans-serif;
  background: #ffffff;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  // -ms-flex-align: center;
  //align-items: center;
  //justify-content: center;
  vertical-align: middle;
  #auth_content {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;
    #auth_logo {
      width: 25%;
      @media screen and (max-width: 540px) {
          width: 75%;
      }
      @media screen and (max-width: 768px) {
          width: 50%;
      }
    }
    #auth_form {
      width: 98%;
      max-width: 380px;
      padding: 15px;
      margin: auto;
      background-color: rgba(226, 226, 226, 0.596);
      border-radius: 0.3rem;
      .form-control:focus {
        z-index: 2;
      }
      #remember_checkbox_label {
        line-height: 1.600rem;
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
      }
      /*Register and forgotten password*/
      .auth-form-extra-actions {
        text-align: center;
        .auth-form-extra-actions-container {
          font-size: 0.9em;
          a {
            text-decoration: none;
          }
          @media screen and (max-width: 320px) {
            #create_account_link { display: block; margin-bottom: 5px; }
            #forgotten_password_link { display: block; }
            #auth_form_extra_actions_delimiter { display: none; }
          }
        }
      }
    }
  }
}
